

.App {
  width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
    display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
}

.ekleme_formu input{
  padding: 5px;
  border-radius: 5ch;
  font-size: 26px;
  
}
.ekleme_formu button{
  background: #2b990f;
  color: white;
  border-radius: 5ch;
  width: 150px;
  padding: 5px;
  border: 0;
  font-size: 20px;
}

.ekleme_formu input {
  background: #e1e1e2;
}


.temizle {
  background: #c92c10;
  color: white;
  border-radius: 5ch;
  width: 350px;
  padding: 5px;
  border: 0;
  font-size: 20px;

}

.liste {
  padding: 20px 0;
}

.liste > div {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.liste > div:last-child {
  border-bottom: 0;
}

.yapildi {
  text-decoration: line-through;
}
